body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
h1 {
    font-size: 30px;
}

header{
    background-color: #3267c9;
    padding-left: 10px;
    align-items: center;
    height: 100%;
}
.gov{
    height: 43px;
}
.box{
    display: flex;
    align-items: center;
}
.top{
    background-color: #f9f9f9;
    display: flex;
    color: #444;
    justify-content: space-between;
    align-items: center;
}
.buscador{
    margin-right: 100px;
}
.buscadorforma{
    border-radius: 20px;
    height: 35px;
    width: 250px;
}
.escudo{
    height: 70px;
    margin-left: 80px;
}
.fondomenu{
    background-color: #eee;
    border-bottom: 3px rgb(10, 99, 10) solid;
    position: relative;
    z-index: 10;
}
.menu{
    font-size: 10px;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0 140px;
    list-style: none;
    align-items:center;
}
.menu li:hover > .submenu{
    display: block;
}

.menu a{
    text-decoration: none;
    color: #444;
    padding: 40px 20px;
    display: block;
}
.menu a:hover{
    background-color: rgb(10, 99, 10);
    color:#f9f9f9;
}
.submenu{
    list-style: none;
    position: absolute;
    padding: 0;
    display: none;
    background-color: #eee;
    z-index: 10;
}
.submenu a{
    text-decoration: none;
    color: #444;
    padding: 10px 15px ;
    justify-content: center;
}
.submenu a:hover{
    color: #f9f9f9;
}/*aqui */
.redes {
    display: flex;
    justify-content: center;
    align-items: center;
}
.redes ul {
    list-style: none;
    display: flex;
    padding: 10px 1px;
    margin: 0 auto;
}

.redes img{
    width: 40px;
    height: 40px;
    margin: 5px;
}
.carrusel {
    margin: 0px 280px;
    width: 1000px;
    height: 500px;
    overflow: hidden;
    position: relative;
}  
.imagenes {
    display: flex;
    width: 3000px;
    animation: deslizar 60s infinite;
}  
.imagenes img {
    width: 1000px;
    height: 500px;
}  
@keyframes deslizar {
    0% { transform: translateX(0); }
    33% { transform: translateX(-1000px); }
    66% { transform: translateX(-2000px); }
    100% { transform: translateX(0); }
}
.lineasdeemergencia{
    margin: 30px 200px;
    background-color: #065;
    color:white;
}
h2{
    font-weight: 100;
    margin: 0 30px;
    padding: 30px 0 20px 0;
}
.fondomenu2{
    background-color: #ffffff;
    margin-top: 20px;
    color:#065 ;
    font-size: 14px;
    margin-left: 100px;
    font-family: 'Montserrat' , sans-serif;
}
.fondomenu2 a{
    color:#065 ;
}
